# Ignore all .ini configuration files
*.ini

# Gradle build files
Android/.gradle
Android/build
*/build/
Android/app/build.gradle.kts

# Local config
Android/local.properties
Android/.idea/
*.iml
*.hprof

# Keystore files
*.jks
*.keystore

# Others
.DS_Store
